<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>课程管理</title>
    <link th:href="@{/layui-v2.9.20/layui/css/layui.css}" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/favicon.ico}">
    <script th:inline="javascript">
        window.contextPath = /*[[@{/}]]*/ '';
    </script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">
            <img style="width: 35px;" th:src="@{/favicon.ico}">
            远程教育系统
        </div>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-this"><a href="javascript:;">课程管理</a></li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div style="padding: 16px;">
                <table class="layui-hide" id="test" lay-filter="test"></table>
            </div>
            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
                    <button class="layui-btn layui-btn-sm" lay-event="getData">获取当前页数据</button>
                    <button class="layui-btn layui-btn-sm" lay-event="reloadData">查询数据</button>
                    <button class="layui-btn layui-btn-sm" id="dropdownButton">
                        下拉按钮
                        <i class="layui-icon layui-icon-down layui-font-12"></i>
                    </button>
                </div>
            </script>
            <script type="text/html" id="toolDemo">
                <div class="layui-clear-space">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-xs" lay-event="more">
                        更多
                        <i class="layui-icon layui-icon-down"></i>
                    </a>
                </div>
            </script>
        </div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        &copy; 2024 Dead by Daylight - All Rights Reserved.
    </div>
</div>

<script th:src="@{/layui-v2.9.20/layui/layui.js}"></script>
<script th:src="@{/js/course-index.js}"></script>
</body>
</html>